[submodule "src/autopilot_me415"]
	path = src/autopilot_me415
	url = https://github.com/byuflowlab/autopilot_me415.git
[submodule "src/rosflight"]
	path = src/rosflight
	url = https://github.com/rosflight/rosflight.git
[submodule "src/rosplane"]
	path = src/rosplane
	url = https://github.com/byu-magicc/rosplane.git
[submodule "src/rosflight_plugins"]
	path = src/rosflight_plugins
	url = https://github.com/byu-magicc/rosflight_plugins.git
