<!-- This is a launch file that runs the bare minimum requirements to get -->
<!-- gazebo running your a fixed-wing aircraft -->

<launch>
  <arg name="mav_name"            default="fixedwing"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="verbose" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- Load Global Parameters for this MAV -->
  <rosparam command="load" file="$(find autopilot_me415)/plane_params.yaml"/>

  <!-- Spawn MAV -->
  <include file="$(find rosplane_sim)/launch/spawn_mav.launch">
    <arg name="mav_name"            value="$(arg mav_name)" />
    <arg name="model"               value="$(find rosplane_sim)/xacro/$(arg mav_name).xacro" />
  </include>

  <group ns="$(arg mav_name)">
    <node name="autopilot" pkg="autopilot_me415" type="autopilot.py" output="screen">
    </node>

  </group>
</launch>
